body {
  background-color: hsl(47, 88%, 63%);
  font-family: "Figtree", serif;
  font-weight: 500;
  font-size: 16px;
}

#card {
  background-color: white;
  width: 22rem;
  padding: 1.2em;
  border-radius: 1em;
  border: black 2px solid;
  margin: 25vh auto 0;
  box-shadow: 0.5em 0.5em black;
}

#card > img {
  width: 22rem;
  border-radius: 1em;
}

.tag {
  width: 25%;
  background-color: hsl(47, 88%, 63%);
  font-size: 16px;
  padding: 0.5em;
  border-radius: 0.25em;
  text-align: center;
  font-weight: 800;
}

h1 {
  font-size: 22px;
  font-weight: 800;
  padding: 0.25em 0;
  transition: color 0.5s;
}

.pubDate {
  color: hsl(0, 0%, 7%);
}

.content {
  color: hsl(0, 0%, 42%);
  line-height: 1.5em;
}

.author img {
  width: 3em;
  display: inline-block;
  vertical-align: middle;
}

.author span {
  font-weight: 800;
  padding: 0.5em;
  display: inline-block;
  vertical-align: middle;
}

h1:hover {
  color: hsl(47, 88%, 63%);
  cursor: pointer;
}
